{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid">

        <h3>Saison {{ season.id }} de {{ program.title }}</h3>

        <div>
            <p>{{ program.summary }}</p>

            <h5>Liste des épisodes</h5>
            <ul>
                {% for episode in episodes %}
                    <li><strong>Episode {{ episode.number }} :</strong>  <a href="{{ path('wild_show_episode', {'id': episode.id }) }}">{{ episode.title }}</a> </li>
                    <ul>
                        <li>{{ episode.synopsis }}</li>
                    </ul>

                {% endfor %}
            </ul>
        </div>

        <button class="btn-primary" >
            <a class="text-light" href="/wild/showProgram/{{ program.title|replace({' ': "-"})|lower }}">
                Retour à la série
            </a>
        </button>
    </div>


{% endblock %}