<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="/">Home</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt- mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('program_index') }}">Séries</a>
            </li>
            <li class="nav-item">
                {% if app.user %}
                <a class="nav-link" href="{{ path('app_profile')}}">Mon profil</a>
            </li>
            <li>
                <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter ({{ app.user.email }})</a>
                {% else %}
                    <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
            </li>
            <li>
                    <a class="nav-link" href="{{ path('app_register') }}">S'inscrire</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>